<!DOCTYPE html>
<html>
<head>
  <title>Basic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="row" id="navigation">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>">Basic Rails</a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-3">
          <%= link_to 'Sign Up', new_user_path, class: "btn btn-success navbar-btn" %>
          <a href="" class="btn btn-info navbar-btn">Sign in</a>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="row" id="flash_message">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>
  </div>

  <div class="row" id="content">
    <%= yield %>
  </div>

  <div class="row" id="footer">
    <div class="col-xs-3">
      <p class="footer_text">All content &copy; Kevin Francis</p>
    </div>
    <div class="col-xs-9 pull-right">
      <ul class="nav nav-pills">
        <li><%= link_to 'Home', root_url %></li>
        <li><%= link_to 'Sign in', '' %></li>
        <li><%= link_to 'Sign up', new_user_path %></li>
      </ul>
    </div>
  </div>

</div>
</body>
</html>
